.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ML-project-1/FileContentIndex/c0612ea0-063c-40d1-9076-f48152b39b97.vsidx
.vs/ML-project-1/FileContentIndex/928b2969-1d2c-4392-8e13-359047b34f0a.vsidx
.vs/ML-project-1/FileContentIndex/0a68ec94-9f35-48f9-b786-199026fd5c31.vsidx
.vs/ML-project-1/FileContentIndex/b501e843-346c-4cba-8b14-dd31c9838ad2.vsidx
.vs/ML-project-1/FileContentIndex/read.lock
.vs/ML-project-1/FileContentIndex/a0187ebd-120a-42ae-88e9-397ad99a8109.vsidx
*.json
*.wsuo
*.vsidx
